:root.dark {
  --main-color-darkmode: rgb(39, 39, 39);
  --font-color-darkmode: rgb(109, 197, 255);
  --card-color-darkmode: rgb(95, 94, 94);
}
/* additional colours that have been saves for later use */
:root {
  --main-color-darkmode: rgb(255, 255, 255);
  --font-color-darkmode: rgb(0, 0, 0);
  --card-color-darkmode: rgb(221, 221, 221);

  --color-pair-1-bg: #3498db; /* Background color for pair 1 */
  --color-pair-1-text: #ffffff; /* Text color for pair 1 */
  
  --color-pair-2-bg: #2ecc71; /* Background color for pair 2 */
  --color-pair-2-text: #ffffff; /* Text color for pair 2 */

  --color-pair-3-bg: #9b59b6; /* Background color for pair 3 */
  --color-pair-3-text: #ffffff; /* Text color for pair 3 */

  --color-pair-4-bg: #f39c12; /* Background color for pair 4 */
  --color-pair-4-text: #ffffff; /* Text color for pair 4 */

  --color-pair-5-bg: #e74c3c; /* Background color for pair 5 */
  --color-pair-5-text: #ffffff; /* Text color for pair 5 */

  --color-pair-6-bg: #2c3e50; /* Background color for pair 6 */
  --color-pair-6-text: #ffffff; /* Text color for pair 6 */

  --color-pair-7-bg: #1abc9c; /* Background color for pair 7 */
  --color-pair-7-text: #ffffff; /* Text color for pair 7 */

  --color-pair-8-bg: #3498db; /* Background color for pair 8 */
  --color-pair-8-text: #2c3e50; /* Text color for pair 8 */

  --color-pair-9-bg: #34495e; /* Background color for pair 9 */
  --color-pair-9-text: #ecf0f1; /* Text color for pair 9 */

  --color-pair-10-bg: #2980b9; /* Background color for pair 10 */
  --color-pair-10-text: #ffffff; /* Text color for pair 10 */


}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
/* Global */
#content {
  height: 100svh;
  display: grid;
  grid-template-columns:auto 1fr;
  /* transition: all 0.3s ease; Smooth transition for all properties */

}

.customCursor{
  cursor: pointer;
}
/* Header content */
header {
  height: fit-content;
  background-color: var(--main-color-darkmode);
  color: var(--font-color-darkmode);
  grid-column: 1/3;
  grid-row: 1/2;
}

header h1{
  font-size: 32px;
  height: fit-content;
}


/* Sidebar content */
#sidebar {
  background-color: var(--main-color-darkmode);
  color: var(--font-color-darkmode);
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

ul{
  list-style: none;
}

ul li{
  transition: background-color 500ms ease;
  border-radius: 4px;
}

ul li:hover{
  background-color: #c2b799;
}

#magGlassSVG{
  width: 40px;
  height: 40px;
  transition: transform 500ms ease-in-out;
}

#cogSVG{
  width: 40px;
  height: 40px;
  transition: transform 500ms ease-in-out;
}

.rotate{
  transform: rotate(360deg);
}
#filterBar{
  display: flex;
}
#settingsBar{
  display: flex;
}
.sidebarList{
  width: 0px;
  height: 0px;
  border-radius: 12px;
  background-color: var(--card-color-darkmode);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  transition: width 500ms ease-in-out, height 500ms ease-in-out, padding 500ms ease-in-out;
}
.sidebarListItem{
  width: 100px;
}

.sidebarReveal{
  width: 100px;
  height: 70px;
  padding: 10px;
}

/* Main content */
main {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--main-color-darkmode);
  color: var(--font-color-darkmode);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.jobCard {
  background-color: var(--card-color-darkmode);
  border-radius: 12px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  justify-self: center;
  margin: 20px;
  padding: 20px;
  height: auto;
  max-width: 300px;
  /* transition: all 0.3s ease; Smooth transition for all properties */
  transition: background-color 0.3s ease;
}

#projectTasksSVG{
  max-width: 40px;
  max-height: 40px;
}

#projectDeleteSVG{
  max-width: 40px;
  max-height: 40px;
}

#taskCompleteSVG{
  max-width: 40px;
  max-height: 40px;

}


#taskDeleteSVG{
  max-width: 40px;
  max-height: 40px;
}



@keyframes takeOff {
  0% { transform: translateY(2px); }
  25% { transform: translateY(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  90% { transform: translateX(-2px); }
  100% { transform: translateY(-2px); }
}

#projectSVG{
  max-width: 150px;
  max-height: 150px;
}

#projectSVG:hover{
  animation: takeOff 0.5s infinite alternate; /* Apply the takeOff animation */
}

.projectForm {
  display: flex;
  height: 600px;
  width: 600px;
  flex-direction: column;
  justify-content: space-around;
}

#taskButtonSVG{
  max-height: 150px;
  max-width: 150px;
}

/* Footer content */
footer {
  background-color: var(--main-color-darkmode);
  color: var(--font-color-darkmode);
  grid-column: 1/3;
  grid-row: 3/4;
}